@import "../App.scss";

/* Invoice container */

.invoice_flex_container_and_btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 8rem;
  border-radius: 10px;
  background-color: white;
  margin: 1rem 0;
  box-shadow: 0px 8px 17px -1px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  flex-wrap: wrap;
  border: 1px solid white;
  transition: border 0.4s ease-in-out;
  &:hover {
    cursor: pointer;
    border: 1px solid rgb(124, 93, 250);
  }
  * {
    font-family: $font-family;
  }

  .id_container {
    height: 40%;
    span:first-child {
      color: $faded-purple;
    }
  }
  .due_date {
    color: $faded-purple;
    height: 20%;
    margin: 0.5rem 0rem;
  }

  .price {
    height: 30%;
    padding: 1rem 0;
  }
  .name {
    align-self: flex-end;
    height: 50%;
    color: $faded-purple;
  }

  .pending_btn {
    align-self: flex-end;
    @include status_button(
      8rem,
      2rem,
      rgba(243, 156, 18, 1),
      rgba(243, 156, 18, 0.2),
      rgba(243, 156, 18, 1)
    );
  }
  .paid_btn {
    align-self: flex-end;
    @include status_button(
      8rem,
      2rem,
      rgba(46, 204, 113, 1),
      rgba(46, 204, 113, 0.2),
      rgba(46, 204, 113, 1)
    );
  }
  .draft_btn {
    align-self: flex-end;
    @include status_button(8rem, 2rem, black, rgba(149, 165, 166, 0.4), black);
  }
}

@media only screen and (min-width: 768px) {
  /* invoices */
  .invoice_flex_container_and_btn {
    flex-direction: row;
    align-items: center;

    justify-content: space-evenly;
    height: 5rem;
    &:hover {
      cursor: pointer;
    }
    .id_container,
    .name,
    .total,
    .due_date,
    .status_pending {
      height: 1rem;
      width: 15%;
      display: flex;
      align-items: center;
    }
    .due_date {
      width: 20%;
    }

    .name,
    .status_pending {
      align-self: unset;
      height: 2rem;
      width: 20%;
    }
    .id_container {
      order: 0;
    }
    .due_date {
      order: 1;
    }
    .total {
      order: 3;
    }
    .name {
      order: 2;
    }
    .draft_btn,
    .pending_btn,
    .paid_btn {
      order: 4;
    }
    button {
      order: 5;
    }
  }
}
