@import "../App.scss";

/* invoice details container section */

.invoice_details_container {
  margin-top: 8rem;
  position: relative;
  * {
    font-family: $font-family;
  }
  .go_back_section {
    margin: 1rem 0;
    width: 100%;
    button {
      display: flex;
    }
  }

  .status_and_button {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 8px 17px -1px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
      color: $faded-purple;
    }
    .pending_btn {
      margin: 0 1rem;
      @include status_button(
        8rem,
        2rem,
        rgba(243, 156, 18, 1),
        rgba(243, 156, 18, 0.2),
        rgba(243, 156, 18, 1)
      );
    }
    .paid_btn {
      margin: 0 1rem;
      @include status_button(
        8rem,
        2rem,
        rgba(46, 204, 113, 1),
        rgba(46, 204, 113, 0.2),
        rgba(46, 204, 113, 1)
      );
    }
    .draft_btn {
      margin: 0 1rem;
      @include status_button(
        8rem,
        2rem,
        black,
        rgba(149, 165, 166, 0.4),
        black
      );
    }

    // .status_button {
    //   @include status-button(6rem, 2rem);

    // }
    .edit_button {
      margin-left: auto;
      height: 3rem !important;
      @include buttons(
        4rem,
        $faded-purple,
        $light-background,
        white,
        $lighter-purple
      );
      @include fonts(16px, 24px, -0.8px, 700);
    }
    .delete_button {
      margin: 0 0.5rem;
      height: 3rem !important;
      @include buttons(6rem, white, #e74c3c, white, #e17055);
      @include fonts(16px, 24px, -0.8px, 700);
    }
    .paid_button {
      @include buttons(10rem, white, $purple, white, $lighter-purple);
      @include fonts(16px, 24px, -0.8px, 700);
      height: 3rem !important;
    }
  }
  .main_info_flex_container {
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    background-color: white;
    div {
      color: $faded-purple;
    }
    h4 {
      margin-top: 0.5rem;
    }
    display: flex;
    flex-wrap: wrap;
    .id_container {
      width: 100%;
    }
    .address {
      width: 100%;
      margin: 1rem 0;
    }
    .payment_dates {
      width: 50%;
      .payment {
        margin-top: 1.5rem;
      }
    }
    .email {
      margin-top: 1rem;
      width: 100%;
    }
    .sub_total_and_total_container {
      background-color: $light-background;
      padding: 0 1rem 1rem 1rem;
      margin-top: 1rem;
      width: 100%;
      .titles_container {
        padding: 1rem 1rem 0 1rem;
        display: flex;
        justify-content: space-between;
        .item {
          width: 30%;
        }
        .qty {
          width: 5%;
          text-align: end;
        }
        .price {
          width: 12%;
          text-align: end;
        }
        .total {
          width: 10%;
          text-align: end;
        }
      }
      .invoice_item {
        height: 4rem;
        display: flex;
        margin: 1rem;
        width: calc(100% - 2rem);

        flex-wrap: wrap;
        flex-direction: column;
        .invoice_quantity {
          color: $faded-purple;
          width: calc(50% -1rem);
          width: 50%;
          margin-top: -0.5rem;
        }
        .invoice_name {
          height: 50%;
          // width: calc(50% -1rem);
        }
        .invoice_price {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }
    .grand_total {
      background-color: $nighttime-purple;
      border-radius: 0 0 10px 10px;
      padding: 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      div {
        color: $light-background;
      }
      h2 {
        color: white;
      }
    }
  }
}

.fixed_buttons {
  position: fixed;
  background-color: white;
  height: 4rem;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  left: 0;
  top: calc(100% - 4rem);
  .edit_button {
    @include buttons(
      3rem,
      $faded-purple,
      $light-background,
      white,
      $lighter-purple
    );
    @include fonts(12px, 15px, -0.25px, 700);
  }
  .delete_button {
    margin: 0 0.5rem;
    @include buttons(5rem, white, red, white, #e17055);
    @include fonts(12px, 15px, -0.25px, 700);
  }
  .paid_button {
    @include buttons(6rem, white, $purple, white, $lighter-purple);
    @include fonts(12px, 15px, -0.25px, 700);
  }
}

@media only screen and (min-width: 768px) {
  /* main info flex container */
  .invoice_details_container {
    .main_info_flex_container {
      * {
        @include fonts(14px, 24px, -0.8px, 700);
      }
      h4 {
        @include fonts(16px, 24px, -0.8px, 700);
      }
      .id_container {
        width: 50% !important;

        div {
          margin-top: 0.5rem;
        }
      }
      .address {
        width: 50% !important;

        text-align: end;
      }
      .payment_dates {
        width: 30%;
      }
      .invoice_address {
        width: 30%;
      }
      .email {
        width: 40%;
        margin-top: 0;
      }
      .grand_total {
        h2 {
          @include fonts(28px, 36px, -1px, 700);
        }
      }
    }
  }
  /* invoice details container */
  .sub_total_and_total_container {
    .invoice_item {
      height: 4rem;
      display: flex;
      margin: 1rem;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row !important;
      .invoice_name {
        height: 100% !important;
        margin-top: 0;
        display: flex;
        align-items: center;
        // width: calc(50% -1rem);
        width: 30%;
      }
      .invoice_quantity,
      .invoice_unit_price {
        color: $faded-purple;
        width: 5% !important;

        // width: calc(50% -1rem);
        // width: 50%;
        margin-top: 0 !important;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .invoice_unit_price {
        width: 16% !important;
      }

      .invoice_price {
        width: 10% !important;
        margin-top: 0 !important;
        height: 100% !important;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
}
