@import './scss/mixins.scss';

@import './scss/variables.scss';

@import './scss/defaults.scss';

.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.main-invoice-container {
  width: 80%;
  margin: auto;
  padding: 0 1rem 0;
  position: relative;
  // margin-top: 4rem;
  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 2rem7rem;
  }
  @media only screen and (min-width: 1024px) {
    margin: auto;
    // padding: 8rem;
    max-width: 1200px;
  } /* main container */
}

/* dropdown container transition */

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* Invoices container transition */

.invoices-move-enter {
  opacity: 0;
}
.invoices-move-enter-active {
  opacity: 1;

  transition: opacity 500ms;
}
.invoices-move-exit {
  opacity: 1;
}
.invoices-move-exit-active {
  opacity: 0;

  transition: opacity 300ms;
}
/* Invoice details container including transition */

.invoicesDetails-move-enter {
  opacity: 0;
  transform: translateX(-80%);
}
.invoicesDetails-move-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 300ms;
}
.invoicesDetails-move-exit {
  opacity: 1;
}
.invoicesDetails-move-exit-active {
  opacity: 0;
  transform: translateX(-80%);
  transition: opacity 300ms, transform 300ms;
}
