/* SASS colour variables */

$purple: rgb(124, 93, 250);
$lighter-purple: rgb(146, 119, 255);
$nighttime-purple: rgb(30, 33, 57);
$nighttime-lighter-purple: rgb(37, 41, 69);
$duck-egg-blue: rgb(223, 227, 250);
$darker-duck-egg: rgb(136, 142, 176);
$faded-purple: rgb(126, 136, 196);
$black: rgb(12, 14, 22);
$red: rgb(236, 87, 87);
$pink: rgb(248, 248, 251);
$off-black: rgb(20, 22, 37);
$light-background: rgb(248, 248, 251);

/* Global css resets for elements so I can style them */

$font-family: 'Spartan', sans-serif;

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 18px;
  background-color: $light-background;
}

input:focus,
button:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* SASS fonts */

@mixin fonts($size, $line, $spacing, $weight) {
  font-size: $size;
  line-height: $line;
  letter-spacing: $spacing;
  font: $weight;
  font-family: $font-family;
}

h1 {
  @include fonts(32px, 36px, -1px, 700);
}
h2 {
  @include fonts(20px, 22px, -0.63px, 700);
}
h3 {
  @include fonts(16px, 24px, -0.8px, 700);
}
h4 {
  @include fonts(12px, 15px, -0.25px, 700);
}
.body-1 {
  @include fonts(12px, 15px, -0.25px, 500);
}
.body-2 {
  @include fonts(11px, 18px, -0.23px, 500);
}

@mixin status-button($width, $height) {
  height: $height;
  align-self: flex-end;
  @include fonts(16px, 24px, -0.8px, 700);
  width: 8rem;
  display: flex;
  padding: 0 1rem;
  justify-content: space-evenly;
  color: #2ecc71;
  background-color: rgba(46, 204, 113, 0.1);
  align-items: center;
  border-radius: 5px;
  .circle-container {
    width: 0.6rem;
    background-color: #2ecc71;
    height: 0.6rem;
    border-radius: 50%;
  }
}

@mixin buttons(
  $width,
  $colour,
  $background-colour,
  $hover-color,
  $hover-background
) {
  @include fonts(20px, 22px, -0.63px, 700);
  width: $width;
  color: $colour;
  background-color: $background-colour;
  border-radius: 50px;
  padding: 0.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: $hover-background;
    color: $hover-color;
  }
}

.main-invoice-container {
  width: 100%;
  padding: 1rem;
  position: relative;
  margin-top: 4rem;
}

/* Navbar */

.navbar-flex-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  background: $nighttime-purple;
  .logo-container {
    position: relative;
    width: 4rem;
    height: 100%;
    background: $purple;
    border-radius: 0 1rem 1rem 0;
    img {
      position: absolute;
      top: 1rem;
      left: 1rem;
      z-index: 200;
    }
  }

  .nested-purple-pattern {
    width: 4rem;
    position: absolute;
    left: 0;
    z-index: 100;
    border-radius: 1rem 0 1rem 0;
    top: 50%;
    background: $lighter-purple;
    height: 50%;
  }

  .day-or-night-btn {
    width: 5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    &:hover {
      cursor: pointer;
    }
  }
  .avatar-container {
    width: 4rem;
    border-left: 0.5px solid #7e88c3;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
      height: 50%;
      border-radius: 50%;
    }
  }
}

/* Invoice details ie no of invoices /filter / new btn */

.invoice-header-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  .no-of-invoices-container {
    h2 {
      padding: 0.5rem 0;
    }
    .body-2,
    span {
      color: $darker-duck-egg;
    }
  }
  .filter-container {
    display: flex;
    margin-left: auto;
    padding: 0 0.5rem;
    justify-content: space-evenly;
    align-items: center;
    width: 6rem;
    position: relative;
    button {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 8rem;
    }
    .drop-down-container {
      position: absolute;
      box-shadow: 0px 8px 17px -1px rgba(0, 0, 0, 0.6);
      top: 2rem;
      border-radius: 10px;
      width: 10rem;
      padding: 1.5rem;
      height: auto;
      background-color: white;
      transition: all 0.3s ease-in-out;
      label {
        display: flex;
        cursor: pointer;
        margin-bottom: 0.5rem;
        &:last-child {
          margin: 0;
        }
        h4 {
          transition: color 0.4s ease-in-out;
          padding-left: 1rem;
          &:hover {
            color: $faded-purple;
          }
        }
      }
    }
  }

  .new-invoice-btn {
    .button-circle {
      background: white;
      border-radius: 50px;
      width: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2rem;
      margin-left: -8px;
      img {
        width: 40%;
        height: 40%;
      }
    }
    @include fonts(12px, 15px, -0.25px, 700);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    @include buttons(5rem, white, $purple, white, $lighter-purple);
    h4 {
      color: white !important;
      margin-right: -6px;
    }
  }
}

/* dropdown container transition */

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* Invoice container */

.invoice-flex-container-and-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 8rem;
  border-radius: 10px;
  background-color: white;
  margin: 1rem 0;
  box-shadow: 0px 8px 17px -1px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  flex-wrap: wrap;
  border: 1px solid white;
  transition: border 0.4s ease-in-out;
  &:hover {
    cursor: pointer;
    border: 1px solid rgb(124, 93, 250);
  }
  * {
    font-family: $font-family;
  }

  .id-container {
    height: 40%;
    span:first-child {
      color: $faded-purple;
    }
  }
  .due-date {
    color: $faded-purple;
    height: 20%;
    margin: 0.5rem 0rem;
  }

  .price {
    height: 30%;
    padding: 1rem 0;
  }
  .name {
    align-self: flex-end;
    height: 50%;
    color: $faded-purple;
  }

  .status-pending {
    height: 50%;
    align-self: flex-end;
    @include fonts(16px, 24px, -0.8px, 700);
    width: 8rem;
    display: flex;
    padding: 0 1rem;
    justify-content: space-evenly;
    color: #2ecc71;
    background-color: rgba(46, 204, 113, 0.1);
    align-items: center;
    border-radius: 5px;
    .circle-container {
      width: 0.6rem;
      background-color: #2ecc71;
      height: 0.6rem;
      border-radius: 50%;
    }
  }
}

/* Invoices container transition */

.invoices-move-enter {
  opacity: 0;
}
.invoices-move-enter-active {
  opacity: 1;

  transition: opacity 500ms;
}
.invoices-move-exit {
  opacity: 1;
}
.invoices-move-exit-active {
  opacity: 0;

  transition: opacity 300ms;
}
/* Invoice details container including transition */

.invoicesDetails-move-enter {
  opacity: 0;
  transform: translateX(-80%);
}
.invoicesDetails-move-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 300ms;
}
.invoicesDetails-move-exit {
  opacity: 1;
}
.invoicesDetails-move-exit-active {
  opacity: 0;
  transform: translateX(-80%);
  transition: opacity 300ms, transform 300ms;
}

/* invoice details container section */

.invoice-details-container {
  position: relative;
  * {
    font-family: $font-family;
  }
  .go-back-section {
    margin: 1rem 0;
    width: 100%;
    button {
      display: flex;
    }
  }

  .status-and-button {
    background-color: white;
    padding: 1rem;

    border-radius: 10px;
    box-shadow: 0px 8px 17px -1px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
      color: $faded-purple;
    }
    .status-button {
      @include status-button(6rem, 2rem);
      align-self: center;
      margin-left: 0.5rem;
      height: 2.5rem !important;
    }
    .edit-button {
      margin-left: auto;
      height: 3rem !important;
      @include buttons(
        4rem,
        $faded-purple,
        $light-background,
        white,
        $lighter-purple
      );
      @include fonts(16px, 24px, -0.8px, 700);
    }
    .delete-button {
      margin: 0 0.5rem;
      height: 3rem !important;
      @include buttons(6rem, white, #e74c3c, white, #e17055);
      @include fonts(16px, 24px, -0.8px, 700);
    }
    .paid-button {
      @include buttons(10rem, white, $purple, white, $lighter-purple);
      @include fonts(16px, 24px, -0.8px, 700);
      height: 3rem !important;
    }
  }
  .main-info-flex-container {
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    background-color: white;
    div {
      color: $faded-purple;
    }
    h4 {
      margin-top: 0.5rem;
    }
    display: flex;
    flex-wrap: wrap;
    .id-container {
      width: 100%;
    }
    .address {
      width: 100%;
      margin: 1rem 0;
    }
    .payment-dates {
      width: 50%;
      .payment {
        margin-top: 1.5rem;
      }
    }
    .email {
      margin-top: 1rem;
      width: 100%;
    }
    .sub-total-and-total-container {
      background-color: $light-background;
      padding: 0 1rem 1rem 1rem;
      margin-top: 1rem;
      width: 100%;
      .titles-container {
        padding: 1rem 1rem 0 1rem;
        display: flex;
        justify-content: space-between;
        .item {
          width: 30%;
        }
        .qty {
          width: 5%;
          text-align: end;
        }
        .price {
          width: 12%;
          text-align: end;
        }
        .total {
          width: 10%;
          text-align: end;
        }
      }
      .invoice-item {
        height: 4rem;
        display: flex;
        margin: 1rem;
        width: calc(100% - 2rem);

        flex-wrap: wrap;
        flex-direction: column;
        .invoice-quantity {
          color: $faded-purple;
          width: calc(50% -1rem);
          width: 50%;
          margin-top: -0.5rem;
        }
        .invoice-name {
          height: 50%;
          width: calc(50% -1rem);
        }
        .invoice-price {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }
    .grand-total {
      background-color: $nighttime-purple;
      border-radius: 0 0 10px 10px;
      padding: 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      div {
        color: $light-background;
      }
      h2 {
        color: white;
      }
    }
  }
}

.fixed-buttons {
  position: fixed;
  background-color: white;
  height: 4rem;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  left: 0;
  top: calc(100% - 4rem);
  .edit-button {
    @include buttons(
      3rem,
      $faded-purple,
      $light-background,
      white,
      $lighter-purple
    );
    @include fonts(12px, 15px, -0.25px, 700);
  }
  .delete-button {
    margin: 0 0.5rem;
    @include buttons(5rem, white, red, white, #e17055);
    @include fonts(12px, 15px, -0.25px, 700);
  }
  .paid-button {
    @include buttons(6rem, white, $purple, white, $lighter-purple);
    @include fonts(12px, 15px, -0.25px, 700);
  }
}

@media only screen and (min-width: 768px) {
  .main-invoice-container {
    padding: 3rem;
  }

  /* invoice header component */
  .invoice-header-container {
    .no-of-invoices-container {
      h2 {
        @include fonts(32px, 36px, -1px, 700);
      }
      .body-2 {
        @include fonts(13px, 15px, -0.25px, 500);
      }
    }

    .filter-container {
      display: flex;
      margin-left: 0;
      padding: 0 0.5rem;
      margin-left: 25%;
      justify-content: space-evenly;
      align-items: center;
      width: 10rem;
    }
    .new-invoice-btn {
      @include buttons(8rem, white, $purple, white, $lighter-purple);
    }
  }

  /* invoices */
  .invoice-flex-container-and-btn {
    flex-direction: row;
    align-items: center;

    justify-content: space-evenly;
    height: 5rem;
    &:hover {
      cursor: unset;
    }
    .id-container,
    .name,
    .total,
    .due-date,
    .status-pending {
      height: 1rem;
      width: 15%;
      display: flex;
      align-items: center;
    }
    .due-date {
      width: 20%;
    }

    .name,
    .status-pending {
      align-self: unset;
      height: 2rem;
      width: 20%;
    }
    .id-container {
      order: 0;
    }
    .due-date {
      order: 1;
    }
    .total {
      order: 3;
    }
    .name {
      order: 2;
    }
    .status-pending {
      order: 4;
    }
    button {
      order: 5;
    }
  }

  /* main info flex container */
  .invoice-details-container {
    .main-info-flex-container {
      * {
        @include fonts(14px, 24px, -0.8px, 700);
      }
      h4 {
        @include fonts(16px, 24px, -0.8px, 700);
      }
      .id-container {
        width: 50%;

        div {
          margin-top: 0.5rem;
        }
      }
      .address {
        width: 50%;

        text-align: end;
      }
      .payment-dates {
        width: 30%;
      }
      .invoice-address {
        width: 30%;
      }
      .email {
        width: 40%;
        margin-top: 0;
      }
      .grand-total {
        h2 {
          @include fonts(28px, 36px, -1px, 700);
        }
      }
    }
  }

  /* invoice details container */
  .sub-total-and-total-container {
    .invoice-item {
      height: 4rem;
      display: flex;
      margin: 1rem;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row !important;
      .invoice-name {
        height: 100% !important;
        margin-top: 0;
        display: flex;
        align-items: center;
        // width: calc(50% -1rem);
        width: 30%;
      }
      .invoice-quantity,
      .invoice-unit-price {
        color: $faded-purple;
        width: 5% !important;

        // width: calc(50% -1rem);
        // width: 50%;
        margin-top: 0 !important;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .invoice-unit-price {
        width: 16% !important;
      }

      .invoice-price {
        width: 10% !important;
        margin-top: 0 !important;
        height: 100% !important;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  /* main container */
  .main-invoice-container {
    width: 70%;
    margin: auto;
    max-width: 1200px;
  }

  /* Navbar */

  .navbar-flex-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    height: 100vh;
    width: 5rem;
    background: $nighttime-purple;
    border-radius: 0 1rem 1rem 0;
    .logo-container {
      position: relative;
      width: 100%;
      height: 5rem;
      background: $purple;
      border-radius: 0 1rem 1rem 0;
      img {
        position: absolute;
        top: 2rem;
        left: 1.5rem;
        z-index: 200;
        width: 2rem;
        height: 2rem;
      }
    }

    .nested-purple-pattern {
      width: 5rem;
      position: absolute;
      left: 0;
      z-index: 100;
      border-radius: 1rem 0 1rem 0;
      top: 3rem;
      background: $lighter-purple;
      height: 2.5rem;
    }

    .day-or-night-btn {
      width: 5rem;
      height: 5rem;
      margin: auto 0 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .avatar-container {
      width: 5rem;
      border-top: 0.5px solid #7e88c3;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 50%;
        height: 50%;
        border-radius: 50%;
      }
    }
  }
}
